# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Data science / ML
# (keep if you DO want CSVs in repo)
# -------------------------
# If someday files get too large, you can ignore:
# data/
# *.csv

# -------------------------
# Archives / backups
# -------------------------
*.zip
*.tar
*.gz

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/
