# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
env/
venv/
.venv/

# =========================
# Logs
# =========================
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data / ML artifacts
# =========================
data/*.csv
processed_*.csv
advanced_sentiment_*.csv
topics_keywords_*.csv

# =========================
# Models
# =========================
models/
*.pkl

# =========================
# Archives / backups
# =========================
*.zip
*.tar
*.gz

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
